# Simple Random Sampling

In this technique, each individual in the population has an equal chance of being selected, and every possible sample of a given size has the same probability of being chosen. It's like drawing names out of a hat.

## Example

In [1]:
import pandas as pd
import random

### Create sample student data with student id's and age.

In [3]:
# Number of students
num_students = 100

# Generate random student IDs
student_ids = range(1, num_students + 1)

# Generate random ages for students
ages = [random.randint(18, 25) for _ in range(num_students)]

In [4]:
student_ids

range(1, 101)

In [6]:
str(ages)

'[19, 25, 24, 21, 25, 18, 20, 23, 23, 25, 25, 25, 19, 19, 22, 20, 20, 25, 24, 18, 25, 19, 23, 20, 21, 19, 24, 23, 22, 18, 20, 19, 25, 18, 21, 24, 24, 22, 23, 23, 25, 21, 24, 22, 25, 25, 24, 21, 18, 20, 25, 19, 24, 23, 19, 23, 23, 24, 22, 19, 22, 25, 19, 24, 20, 24, 22, 24, 18, 24, 24, 25, 20, 19, 22, 18, 22, 19, 20, 18, 23, 25, 24, 21, 24, 21, 22, 23, 25, 22, 22, 22, 18, 19, 19, 25, 19, 18, 21, 25]'

In [7]:
# Create a DataFrame representing the population (in this case, student IDs and Age)
df = pd.DataFrame({'Student_ID': student_ids, 'Age': ages})
df

    Student_ID  Age
0            1   19
1            2   25
2            3   24
3            4   21
4            5   25
..         ...  ...
95          96   25
96          97   19
97          98   18
98          99   21
99         100   25

[100 rows x 2 columns]

### Perform simple random sampling

In [10]:
# Sample size
sample_size = 10

# Perform simple random sampling
sample = df.sample(n=sample_size, random_state=42)  # Setting random_state for reproducibility
sample

    Student_ID  Age
83          84   21
53          54   23
70          71   24
45          46   25
44          45   25
39          40   23
22          23   23
80          81   23
10          11   25
0            1   19

Result DataFrame sample containing a simple random sample of students.