# Systematic Sampling
Systematic sampling is a technique used to select a random sample from a larger population. It involves selecting every kth element from the population, where k is a fixed interval calculated based on the population size and desired sample size.

## Example

Let's assume we have a dataset with employee IDs, ages, and departments. We want to perform systematic sampling by selecting every 10th employee from the population.

In [1]:
import pandas as pd
import random

### Create sample student data with employee id, age and department.

In [2]:
# Number of employees
num_emp = 100

# Generate random employee IDs
emp_ids = range(1, num_emp + 1)

# Generate random ages for employees
ages = [random.randint(18, 25) for _ in range(num_emp)]

# GEnerate data for three departments
departments = [random.choice(['Marketing', 'Finance', 'Operations']) for _ in range(num_emp)]

In [3]:
emp_ids

range(1, 101)

In [4]:
str(ages)

'[23, 25, 23, 24, 25, 19, 25, 18, 25, 25, 18, 22, 19, 22, 19, 21, 22, 21, 19, 20, 22, 18, 24, 20, 20, 21, 22, 19, 24, 22, 22, 19, 22, 20, 25, 21, 22, 22, 23, 19, 22, 18, 24, 24, 19, 25, 20, 22, 19, 24, 22, 21, 20, 18, 25, 23, 25, 24, 22, 21, 21, 25, 24, 23, 21, 22, 18, 25, 23, 18, 18, 19, 23, 22, 21, 25, 22, 22, 24, 20, 19, 23, 24, 21, 24, 20, 22, 23, 20, 20, 18, 21, 22, 20, 18, 24, 22, 18, 20, 18]'

In [5]:
str(departments)

"['Marketing', 'Operations', 'Marketing', 'Operations', 'Marketing', 'Finance', 'Marketing', 'Operations', 'Marketing', 'Marketing', 'Marketing', 'Finance', 'Operations', 'Operations', 'Marketing', 'Finance', 'Finance', 'Marketing', 'Finance', 'Marketing', 'Marketing', 'Marketing', 'Marketing', 'Finance', 'Finance', 'Operations', 'Operations', 'Finance', 'Finance', 'Operations', 'Marketing', 'Operations', 'Operations', 'Finance', 'Operations', 'Finance', 'Marketing', 'Operations', 'Operations', 'Finance', 'Marketing', 'Operations', 'Marketing', 'Finance', 'Marketing', 'Finance', 'Marketing', 'Finance', 'Marketing', 'Finance', 'Finance', 'Finance', 'Marketing', 'Operations', 'Marketing', 'Finance', 'Marketing', 'Marketing', 'Marketing', 'Marketing', 'Marketing', 'Marketing', 'Operations', 'Operations', 'Finance', 'Marketing', 'Finance', 'Operations', 'Finance', 'Finance', 'Finance', 'Finance', 'Operations', 'Finance', 'Finance', 'Marketing', 'Marketing', 'Operations', 'Marketing', 'Finance', 'Operations', 'Operations', 'Operations', 'Finance', 'Operations', 'Operations', 'Operations', 'Finance', 'Marketing', 'Operations', 'Marketing', 'Operations', 'Marketing', 'Marketing', 'Finance', 'Finance', 'Operations', 'Finance', 'Marketing', 'Finance']"

In [6]:
len(departments)

100

### Create Dataframe

In [7]:
df = pd.DataFrame({'emp_id': emp_ids, 'Age': ages, 'Department': departments})

In [8]:
df

    emp_id  Age  Department
0        1   23   Marketing
1        2   25  Operations
2        3   23   Marketing
3        4   24  Operations
4        5   25   Marketing
..     ...  ...         ...
95      96   24     Finance
96      97   22  Operations
97      98   18     Finance
98      99   20   Marketing
99     100   18     Finance

[100 rows x 3 columns]

### Perform systematic sampling

In [9]:
# Define sampling interval (k)
sampling_interval = 10

In [10]:
# Perform systematic sampling
sampled_data = df[df.index % sampling_interval == 0]

### Systematic Sampled Data

In [11]:
sampled_data

    emp_id  Age  Department
0        1   23   Marketing
10      11   18   Marketing
20      21   22   Marketing
30      31   22   Marketing
40      41   22   Marketing
50      51   22     Finance
60      61   21   Marketing
70      71   18     Finance
80      81   19  Operations
90      91   18   Marketing

Result DataFrame sampled_data containing a systematic sample of employee, where every 10th employee from the population is selected.